<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/main.css"/>
</head>
<body>
<h1>{{title}}</h1>

{{>header}}

<main>

    {{#repeat 2}}
        <p>{{random.paragraph}}</p>
    {{/repeat}}

    <img src="{{random.imageUrl 800 200}}"/>

    <h2>{{#titlecase}}{{random.phrase 2 5}}{{/titlecase}}</h2>

    <ul class="cards">
        {{#repeat 3}}
            <li>{{>feature-card}}</li>
        {{/repeat}}
    </ul>

    <h2>{{#titlecase}}{{random.title}}{{/titlecase}}</h2>

    <ul class="cards">
        {{#repeat 3}}
            <li>{{random.sentence}}</li>
        {{/repeat}}
    </ul>

</main>

{{>footer}}

</body>
</html>
