<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
<h1>{{title}}</h1>

{{>header}}

<p>{{random.paragraph}}</p>

<img src="{{random.image 800 200}}"/>

<h2>{{random.title}}</h2>

<ul class="cards">
    <li>{{>par/feature-card}}</li>
    <li>{{>par/feature-card}}</li>
    <li>{{>par/feature-card}}</li>
</ul>

<h2>Promos</h2>

<ul class="cards">
    <li>{{random.sentence}}</li>
    <li>{{random.sentence}}</li>
    <li>{{random.sentence}}</li>
</ul>

{{>footer}}

</body>
</html>
