<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
<h1>{{title}}</h1>

{{>header}}

{{#repeat 2}}
    <p>{{random.paragraph}}</p>
{{/repeat}}

<img src="{{random.image 800 200}}"/>

<h2>{{random.title}}</h2>

<ul class="cards">
    {{#repeat 3}}
        <li>{{>feature-card}}</li>
    {{/repeat}}
</ul>

<h2>{{random.title}}</h2>

<ul class="cards">
    {{#repeat 3}}
        <li>{{random.sentence}}</li>
    {{/repeat}}
</ul>

{{>footer}}

</body>
</html>
